body {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgray;
}

.ingredients {
    font-weight: bold;
    font-size: medium;
    color:black
}

.steps {
    font-size: large;
    color:brown
}

.centered {
    margin: auto;
    width: 50%;
    padding: 10px;
}